<div class="voyado-discount-offers">
    <h2>{{translate "voyadoDiscountOffersHeader"}}</h2>
    <ul>
        {{#each this}}
            <li class="offer offer-{{@index}} {{#if linkUrl}}is-linked{{/if}}">
                <div class="offer-image">
                    <img data-src="{{imgUrl}}" alt="{{title}}"/>
                </div>
                <h3>{{title}}</h3>
                <p class="description">{{description}}</p>
                <span class="valid-until">{{translate "voyadoDiscountOfferValidUntil"}} {{endDate}}</span>
                {{#if linkUrl}}
                    <a href="{{linkUrl}}">{{translate "voyadoDiscountOfferReadMore"}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

