<div class="voyado-member-price-alert">
    <div class="content">
        {{#if showNotLoggedInCartMemberPrice}}
            <span class="label">{{translate "voyadoDynamicCartItemMemberPriceInfo"}}:</span> <span class="value">{{{memberPriceString}}}</span>
        {{else}}
            <span>{{translate "voyadoDynamicCartItemMemberPriceAlert"}}</span>
        {{/if}}
        <a href="{{loginUrl}}">{{translate "voyadoDynamicCartItemMemberPriceLogin"}}</a>
    </div>
</div>

