<div class="voyado-point-cards my-pages-landing-page-item">
    <h6>{{translate "voyadoPointCardsHeader"}}</h6>
    <ul class="point-card-list">
        {{#each this}}
            <li class="point-card point-card-{{@index}}">
                <div class="point-card-header">
                    <span class="name">{{{Name}}}</span> -
                    <span class="slot-status">{{slotsFilled}}/{{NumberOfSlots}}</span>
                </div>
                <ul class="slots slot-qty-{{NumberOfSlots}}" data-slot-qty="{{NumberOfSlots}}">
                    {{#times NumberOfSlots}}

                        {{#ifCond i "<" ../slotsFilled}}
                            <li class="slot slot-filled">
                                <span></span>
                            </li>
                        {{else}}
                            <li class="slot slot-empty">
                                <span></span>
                            </li>
                        {{/ifCond}}
                    {{/times}}
                </ul>

                {{#ifCond NumberOfSlotsRemaining "<=" 0}}
                    <div class="point-card-message point-card-complete">
                        <span>{{translate "voyadoPointCardsNoMoreSlots"}}</span>
                    </div>
                {{/ifCond}}

                {{#if parsedLastStampDate}}
                    <div class="last-stamp-date">
                        <span class="key">{{translate "voyadoPointCardsLastStampDate"}}:</span>
                        <span class="value">{{parsedLastStampDate}}</span>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

