<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/public/style/node.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/public/codemirror/lib/codemirror.css' />
    <script type='text/javascript' src='/public/scripts/node-libraries.js'></script>
    <script type='text/javascript' src='/public/codemirror/lib/codemirror.js'></script>

    <script type='text/javascript' src='/public/codemirror/mode/scheme/scheme.js'></script>
    <script type='text/javascript' src='/public/codemirror/mode/javascript/javascript.js'></script>

    <title>{{ title }}</title>
</head>
<body>
<div id ="wrapper">

    <div class="row" id="menu">
        <div class="column large-12">
        <div id="menu-wrapper">
            {{> menu }}
        </div>
        </div>
    </div>

    <div class="row" id="content">
        <div class="column large-12">

