<div class="wishlist-alert adding-products-from-api-list">

    <h2>{{translate "wishlistAddingApiProdsAlertHeader"}}</h2>
    <p>{{translate "wishlistAddingApiProdsAlertBody"}}</p>
    <div class="buttons">
        <a class="button button-ok"><span>{{translate "wishlistOk"}}</span></a>
    </div>
</div>