<div class="wishlist-alert invalid-external-list-id">

    <h2>{{translate "wishlistInvalidExternalIdAlertHeader"}}</h2>
    <p>{{translate "wishlistInvalidExternalIdAlertBody"}}</p>
    <div class="buttons">
        <a class="button"><span>{{translate "wishlistOk"}}</span></a>
    </div>

</div>