<div class="wishlist-alert delete-all-products">

    <h2>{{translate "wishlistDeleteAllProductsAlertHeader"}}</h2>
    <p>{{translate "wishlistDeleteAllProductsAlertBody"}}</p>
    <div class="buttons">
        <a class="button button-ok"><span>{{translate "wishlistOk"}}</span></a>
        <a class="button button-cancel"><span>{{translate "wishlistCancel"}}</span></a>
    </div>
</div>