<div class="wishlist-alert show-login-info">
    <p>{{translate "wishlistLoggedInInfoBody"}}</p>
    <div class="buttons">
        <a class="button button-ok"><span>{{translate "wishlistOk"}}</span></a>
    </div>
</div>