{{#unless discountedPrice}}
    <div class="price-standard">
            <span class="price-amount">{{{price}}}</span>
    </div>
{{else}}
    <div class="price-promotion">
        <span class="price-amount">{{{discountedPrice}}}</span>
    </div>
    <div class="price-previous">
        <span class="price-amount">{{{price}}}</span>
    </div>
{{/unless}}
