{{#unless listData.products }}
    <div class="product-list-header no-products">
        <p>{{translate "wishlistEmptyProductListHeader"}}</p>
    </div>
{{else}}


    <ul class="wishlist-products">
        {{#each listData.products}}

            <li class="product-item
                {{#if prodData.hasAttributes}}has-attributes{{/if}}
                {{#if prodData.IsBuyable}}item-selected buyable{{else}} not-buyable{{/if}}"
                data-id="{{prodData.Id}}">


                <div class="product-inner">

                    <div class="product-checkbox">
                        {{#if prodData.IsBuyable}}
                            <input id="checkbox-{{@index}}" type="checkbox" checked="checked">
                        {{else}}
                            <input id="checkbox-{{@index}}" type="checkbox" class="disabled" disabled="disabled">
                        {{/if}}

                        <label for="checkbox-{{@index}}">
                            <i class="fa fa-check-square-o"></i>
                            <i class="fa fa-square-o"></i>
                        </label>
                    </div>

                    <span class="delete-product" title="{{translate "wishlistDeleteProductTitle"}}">
                    <i class="fa fa-times-circle"></i>
                </span>

                    <div class="product-image">
                        <a title="{{{prodData.Name}}}" href="{{prodData.ProductUrl}}">

                            {{#if prodData.Images.length}}
                                <img title="{{{prodData.Name}}}"
                                     src="{{prodData.Images.0.Url}}" data-org-src="{{prodData.Images.0.Url}}"
                                     alt="{{{prodData.Name}}}">
                            {{else}}
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            {{/if}}
                        </a>
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            <h3>
                                <a title="{{{prodData.Name}}}" data-productid="{{prodData.Id}}" href="{{prodData.ProductUrl}}">{{{prodData.Name}}}</a>
                            </h3>
                            <span class="product-subname">{{{prodData.SubName}}}</span>
                        </div>

                        <div class="article-number">
                            <span class="label">{{translate "wishlistProductArticleNumber"}}:</span>
                            <span class="value" data-org-content="{{{prodData.Articlenumber}}}">{{{prodData.Articlenumber}}}</span>
                        </div>

                        <div class="stock-status">
                            <span class="label">{{translate "wishlistProductStockStatus"}}:</span>
                            <span class="value" data-org-content="{{prodData.StockStatusName}}">{{prodData.StockStatusName}}</span>
                        </div>


                        <div class="product-price">

                            {{#ifValue prodData.DiscountedPrice equals="-1"}}
                                <div class="price-standard">
                                    {{#if ../isVatIncluded}}
                                        <span class="price-amount" data-org-content="{{prodData.PriceString}}">{{prodData.PriceString}}</span>
                                    {{else}}
                                        <span class="price-amount" data-org-content="{{prodData.PriceStringWithoutVat}}">{{prodData.PriceStringWithoutVat}}</span>
                                    {{/if}}
                                </div>
                            {{else}}
                                <div class="price-promotion">
                                    {{#if ../isVatIncluded}}
                                        <span class="price-amount" data-org-content="{{prodData.DiscountedPriceString}}">{{prodData.DiscountedPriceString}}</span>
                                    {{else}}
                                        <span class="price-amount" data-org-content="{{prodData.DiscountedPriceStringWithoutVat}}">{{prodData.DiscountedPriceStringWithoutVat}}</span>
                                    {{/if}}
                                </div>
                                <div class="price-previous">
                                    {{#if ../isVatIncluded}}
                                        <span class="price-amount" data-org-content="{{prodData.PriceString}}">{{prodData.PriceString}}</span>
                                    {{else}}
                                        <span class="price-amount" data-org-content="{{prodData.PriceStringWithoutVat}}">{{prodData.PriceStringWithoutVat}}</span>
                                    {{/if}}
                                </div>
                            {{/ifValue}}

                        </div>


                        {{#if prodData.hasAttributes}}
                            <div class="attributes-wrapper">

                                <div class="attribute-wrapper attribute-wrapper-lv1">
                                    <div class="attribute-header">
                                        <span class="prefix">{{translate "wishlistAttributeSelect"}}</span>
                                        <span class="attribute-name">{{prodData.Attributes.0.Name}}: </span>
                                    </div>

                                    <div class="attribute-container attribute-container-lv1">


                                        <select class="attribute-select attribute-select-lv1">
                                            <option value="">- {{translate "wishlistAttributeSelect"}}
                                                {{prodData.Attributes.0.Name}} -
                                            </option>
                                            {{#each prodData.Attributes}}
                                                <option class="{{#if IsBuyable}}buyable{{else}}not-buyable{{/if}}"
                                                        {{#unless IsBuyable}}disabled{{/unless}}
                                                        value="{{{Value}}}"
                                                        data-id="{{Id}}"
                                                        data-img-url="{{Images.0.Url}}"
                                                        data-price="{{Price}}"
                                                        data-discounted-price="{{DiscountedPrice}}"
                                                        data-article-number="{{Articlenumber}}"
                                                        data-stock-status-name="{{StockStatusName}}"
                                                >{{{Value}}}</option>

                                            {{/each}}
                                        </select>
                                    </div>


                                </div>

                                {{#if prodData.hasLv2Attributes}}
                                    <div class="attribute-wrapper attribute-wrapper-lv2">
                                        <div class="attribute-header">
                                            <span class="prefix">{{translate "wishlistAttributeSelect"}}</span>
                                            <span class="attribute-name">{{prodData.Attributes.0.AttributesLevel2.0.Name}}: </span>
                                        </div>

                                        <div class="attribute-container attribute-container-lv2">

                                            {{#each prodData.Attributes}}
                                                <select class="attribute-select attribute-select-lv2">
                                                    <option value="">- {{translate "wishlistAttributeSelect"}}
                                                        {{../prodData.Attributes.0.AttributesLevel2.0.Name}} -
                                                    </option>

                                                    {{#each AttributesLevel2}}
                                                        <option class="{{#if IsBuyable}}buyable{{else}}not-buyable{{/if}}"
                                                                {{#unless IsBuyable}}disabled{{/unless}}
                                                                value="{{{Value}}}"
                                                                data-id="{{Id}}"
                                                                data-img-url="{{Images.0.Url}}"
                                                                data-price="{{Price}}"
                                                                data-discounted-price="{{DiscountedPrice}}"
                                                                data-article-number="{{Articlenumber}}"
                                                                data-stock-status-name="{{StockStatusName}}"
                                                        >{{{Value}}}</option>
                                                    {{/each}}
                                                </select>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/if}}
                            </div>

                        {{else}}


                        {{/if}}

                        {{#unless prodData.IsBuyable}}
                            {{#ifCond prodData.hasSpecifications "||" prodData.hasComments}}
                                <div class="product-not-buyable-message">{{translate "wishlistItemNotBuyableFromListText"}}</div>
                            {{else}}
                                <div class="product-not-buyable-message">{{translate "wishlistItemNotBuyableText"}}</div>
                            {{/ifCond}}


                        {{/unless}}
                    </div>
                </div>

            </li>



        {{/each}}
    </ul>
{{/unless}}