<div class="wishlist-activator">
    <a class="button button-wishlist" title="{{translate "wishlistBtnTitle"}}">
        <i class="fa fa-heart-o"/>
        <i class="fa fa-heart"/>
        <span class="button-text">{{translate "wishlistBtnText"}}</span>
        <span class="product-quantity"></span>
    </a>
</div>

