<div class="wishlist-container default-mode{{#if isExternalList}} is-external{{/if}}">
    <div class="wishlist-inner">
        <div class="wishlist-content">
            <span class="wishlist-close" title="{{translate "wishlistClose"}}">
                <i class="fa fa-times"></i>
            </span>
            {{#if isLoggedIn}}
                <span class="login-info logged-in">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </span>
            {{else}}
                <span class="login-info not-logged-in">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </span>
            {{/if}}

            <div class="wishlist-header">

                {{#if isExternalList}}
                    <h2>{{translate "wishlistExternalListHeaderText"}}</h2>
                    <div class="wishlist-msg external-list-msg">
                        <p>{{translate "wishlistExternalListBodyText"}}</p>
                    </div>
                {{else}}
                    <h2>{{translate "wishlistHeaderText"}}</h2>
                    {{#if isLoggedIn}}

                    {{else}}
                        <div class="wishlist-msg not-logged-in-msg">
                            <p>
                                <a class="button list-login" href="{{urls.MyPagesUrl}}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    <span>{{translate "wishlistNotLoggedInMsgLoginBtn"}}</span>
                                </a>
                                <span class="login-info">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div>
                    {{/if}}
                {{/if}}


                <div class="add-to-cart-validation-error-msg">
                    <p>{{translate "wishlistAddToCartValidationErrorMsg"}}</p>
                </div>

            </div>

            <div class="product-list-container"></div>
            <div class="sharing-container"></div>

            <div class="wishlist-footer">

                <div class="delete-products-after-add-to-cart">
                    <div class="delete-inner">
                        <input id="checkbox-delete-after-add" type="checkbox" checked="checked">
                        <label for="checkbox-delete-after-add">
                            <span>
                                <i class="fa fa-check-square-o"></i>
                                <i class="fa fa-square-o"></i>
                            </span>
                            <p>{{translate "wishlistDeleteProdsAfterAddToCart"}}</p>
                        </label>
                    </div>
                </div>

                <a class="button enter-add-to-cart-mode">
                    <span>{{translate "wishlistEnterAddToCartMode"}}</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>

                <a class="button enter-sharing-mode">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <span>{{translate "wishlistShareList"}}</span>
                </a>

                <a class="button clear-wishlist">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <span>{{translate "wishlistClearList"}}</span>
                </a>

                <a class="button wishlist-add-to-cart">
                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    <span>{{translate "wishlistAddToCartBtn"}}</span>
                </a>

                <a class="button exit-add-to-cart-mode">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span>{{translate "wishlistExitAddToCartMode"}}</span>
                </a>

                <a class="button exit-sharing-mode">
                    <span>{{translate "wishlistExitSharingMode"}}</span>
                </a>

            </div>
        </div>
    </div>

</div>
