<div class="sharing-content">
    {{!--#unless isLoggedIn}}
        <div class="not-logged-in">

            <h2>{{translate "wishlistSharingNotLoggedInHeader"}}</h2>
            <p>{{translate "wishlistSharingNotLoggedInBody"}}</p>
            <a class="button wishlist-login"><span>{{translate "wishlistSharingNotLoggedInButton"}}</span></a>


        </div>

    {{else--}}

        {{!--#if navigatorShareApiSupported}}
            <p>{{translate "wishlistSharingInfoWithNavigatorShare"}}</p>
        {{else}}
            <p>{{translate "wishlistSharingInfoWithoutNavigatorShare"}}</p>
        {{/if--}}

        <div class="wish-list-share">
            {{#if navigatorShareApiSupported}}
                <div class="api-share">
                    <h3>{{translate "wishlistApiShareHeader"}}</h3>
                    <p>{{translate "wishlistApiShareText"}}</p>
                    <a class="button api-share-btn">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <span>{{translate "wishlistApiShareBtn"}}</span>
                    </a>
                </div>
            {{else}}
                <div class="share-link">
                    <h3>{{translate "wishlistShareLinkHeader"}}</h3>
                    <p>{{translate "wishlistShareLinkText"}}</p>
                    <span class="wish-list-url">{{wishlistLinkUrl}}</span>
                    <a class="button copy-wishlist-url">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                        <span>{{translate "wishlistShareLinkCopy"}}</span>
                    </a>
                </div>
            {{/if}}

            <!--<div class="send-email">
                <h3>{{translate "wishlistSendEmailHeader"}}</h3>
                <p>{{translate "wishlistSendEmailText"}}</p>
                <a class="button email-share">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>{{translate "wishlistSendEmailBtn"}}</span>
                </a>
            </div>-->
        </div>
    {{!-/unless--}}
</div>
