<div class="add-to-list">
    <a class="button button-add-to-list" title="{{translate "wishlistAddToListBtnTitle"}}">
        <i class="fa fa-heart-o" />
        <i class="fa fa-heart" />
    </a>
</div>

