// Dynamic image layout
@mixin autosize-image-container($vertical-ratio) {
  position: relative;
  padding-top: $vertical-ratio;
  display: block;

  img {
    position: absolute;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// LATEST VERSION OF CALCULATE ITEM WIDTH
@mixin calculate-item-width($total-items, $margin-right, $selector, $margin-bottom: null) {
  $extra-width: ($margin-right / $total-items);
  $value: decimal-round((100 / $total-items) - $margin-right + $extra-width, 2, "floor");
  $nth: ($total-items) + "n+0";
  // Output
  #{$selector} {
    width: add-unit($value, "%");
    margin-right: add-unit($margin-right, "%");
    @if $margin-bottom != null {
      margin-bottom: add-unit($margin-bottom, "%");
    }
  }
  #{$selector}:nth-of-type(#{$nth}) {
    margin-right: 0;
  }
}

// FADE FUNCTION
.fade {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.15s;

  &.active {
    display: block;
    opacity: 1;
    height: auto;
    overflow: visible;

    &.fading {
      opacity: 0;
    }

  }
}

// WISHLIST ----------------------------------------------------------------------

html.wishlist-active body {

  // RESOLVE Z-INDEX - MIGHT NEED TWEAKING IN DIFFERENT DESIGNS
  #cat-nav .nav-bar {
    z-index: 10;
  }

  &.wishlist-container-open {
  }

}

// ADD TO LIST BTN

.add-to-list {

  .button-add-to-list {
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: #333;

    }

    i {
      line-height: 1;
      vertical-align: middle;
      &:first-child {
        display: inline-block;
        + i {
          display: none;
        }
      }
    }

    span {
      display: none;

    }
  }

  &.in-list {
    i:first-child {
      display: none;
      + i {
        display: inline-block;
      }
    }
  }

}

// PRODUCT PAGE ADD TO LIST BTN
.page-showproduct {

  .add-to-list {

    .button-add-to-list {
      width: 44px;
      height: 44px;
      line-height: 44px;
      border-radius: 100px;
      font-size: 30px;
      position: absolute !important;
      z-index: 9;
      top: 5px;
      right: 5px;
      padding: 0;
      text-align: center;

      &:hover {
      }

      i {
      }

      span {

      }
    }

  }

}

// CATEGORY PAGE ADD TO LIST BTN
.product-outer-wrapper {

  .product-image {
    position: relative;
  }
}

.startpage-product-item {

  .product-image {
    position: relative;
    padding: 0 !important;
  }
}

.add-to-list {
  padding: 0;

  .button-add-to-list {
    font-size: 20px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute !important;
    z-index: 9;
    top: 5px;
    right: 5px;
    padding: 0 !important;
    left: initial;
    bottom: initial;
    display: block;

    i {
    }

    span {
      display: none;
    }
  }

}

// CATEGORY ADVANCED PAGE ADD TO LIST BTN
.page-listproductswithimageadvanced {

  .product-advanced-row {

    .product-advanced-image {
      position: relative;
    }
  }

  .add-to-list {
    padding: 0;

    .button-add-to-list {
      font-size: 20px;
      width: 34px;
      height: 34px;
      line-height: 34px;
      position: absolute !important;
      z-index: 9;
      top: 12px;
      right: 12px;
      padding: 0 !important;
      left: initial;
      bottom: initial;
      display: block;

      i {
      }

      span {
        display: none;
      }
    }

  }
}

.wishlist-activator {
  position: relative;
  float: left;

  a.button-wishlist {
    position: absolute;
    top: 6px;
    right: 10px;
    background: transparent !important;
    padding: 0;
    color: $js-body-font-color;

    i.fa {
      font-size: 24px;
      display: block;

      + i.fa {
        display: none;
      }
    }

    &:hover i.fa {
      display: none;

      + i.fa {
        display: block;
      }
    }

    span.button-text {
      display: none;
    }

    .product-quantity {
      position: absolute;
      top: 0px;
      right: 0px;
      background: $primary-color;
      width: 16px;
      height: 16px;
      border-radius: 100px;
      line-height: 16px;
      font-weight: normal;
      text-align: center;
      transition: 0.3s;
      transition-timing-function: ease-in;
      font-size: 10px;
      color: #fff;
      margin: -8px -8px 0 0;

      &:empty {
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        margin: 0;
      }
    }

    &:hover {
      .product-quantity {
        background: darken($primary-color, 10%);
      }
    }

  }

}

.wishlist-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  transition: background 0.3s, z-index 0s 0.3s;

  &.open {
    z-index: 10;
    background: rgba(255, 255, 255, 0.85);
    transition: background 0.3s;

    .wishlist-inner {
      left: 40%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  &.fade-out {

    .product-list-container,
    .sharing-container,
    .wishlist-footer {
      opacity: 0;
    }

  }

  .wishlist-inner {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 60%;
    transition: 0.3s;
  }

  .wishlist-content {
    position: relative;
    max-width: 800px;
    height: 100%;
    padding: 0px 20px;

  }

  .wishlist-header {
    text-align: center;
    padding: 20px 0 20px;
    h2 {
      margin: 0;
      padding: 2px 0 10px;
    }

    .list-login {
      color: $js-primary-link-color;
      display: inline-block;
      padding: 6px 10px;
      line-height: 1;
      background: transparent;
      &:hover {
        color: $js-primary-link-hover-color;
      }

    }

    .wishlist-msg {
      p {
        margin: 0;
      }
    }
  }

  .add-to-cart-validation-error-msg {
    color: #fff;
    padding: 5px 10px;
    margin: 15px 0px 0;
    border: 1px solid $alert-color;
    background: $alert-color;
    display: none;

    p {
      line-height: 1.3;
      margin: 0;
      font-size: 12px;
    }
  }

  &.validation-error .add-to-cart-validation-error-msg {
    display: block;
  }

  .wishlist-close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #666666;
    cursor: pointer;
    line-height: 1;

    &:hover {
      color: #000;
    }
  }

  .login-info {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 24px;
    line-height: 1;
    display: block;
    color: $js-primary-link-color;
    cursor: pointer;

    &:hover {
      color: $js-primary-link-hover-color;
    }
  }

  .product-list-header.no-products {
    text-align: center;
  }

  .product-list-container,
  .sharing-container {
    position: absolute;
    left: 20px;
    top: 120px;
    right: 20px;
    bottom: 150px;
    transition: opacity 0.2s;

    &.overflow {
      overflow-y: scroll;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;

    }

  }

  &.is-external .product-list-container {
    top: 150px;
  }

  .sharing-container {
    display: none;
  }

  .wishlist-footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    transition: opacity 0.2s;
    padding: 15px 0 5px;

    .delete-products-after-add-to-cart {
      display: none;
      text-align: center;
      padding: 0 5px 10px;

      .delete-inner {
        display: table;
        margin: 0 auto;
      }

      input {
        position: absolute;
        z-index: -5;
        opacity: 0;

        + label i {
          display: none;
          + i {
            display: block;
          }
        }

        &:checked {

          + label i {
            display: block;
            + i {
              display: none;
            }
          }
        }

        &.disabled + label {
          color: #ddd !important;
          cursor: default;
          opacity: 1;
        }

      }

      label {
        text-align: left;
        display: table-row;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        span {
          font-size: 20px;
          padding: 5px 0;
          display: table-cell;
          width: 25px;
          vertical-align: middle;
        }

        p {
          display: table-cell;
          padding: 5px 0;
          vertical-align: middle;

          line-height: 1.3;
        }
      }

    }

  }

  // BUTTONS
  .button {
    display: block;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;

    &.button-disabled {
      background-color: $js-button-disabled-background-color !important;
      border-color: $js-button-disabled-border-color !important;
    }

    span, i {
      margin: 0 3px;
      line-height: 1;
      vertical-align: middle;
      display: inline-block;
    }

    i {
      font-size: 1.2em;
    }

    // BUY BTN FORMATTING FOR CART BTNS
    &.enter-add-to-cart-mode,
    &.wishlist-add-to-cart {
      background: $js-button-buy-background-color;

      &:hover {
        background-color: darken($js-button-buy-background-color, $js-button-hover-darken-factor);

      }
    }

    // NO BTN BG FOR CLEAR BTN
    &.clear-wishlist {
      background: transparent !important;
      color: $js-primary-link-color;

      &.button-disabled {
        color: #aaa !important;
      }

      &:hover {
        color: $js-primary-link-hover-color;
      }
    }

    &.exit-add-to-cart-mode,
    &.wishlist-add-to-cart,
    &.exit-sharing-mode {
      display: none;
    }

  }

  &.add-to-cart-mode {

    .wishlist-footer {

      .delete-products-after-add-to-cart {
        display: block;
      }

      .button {
        &.clear-wishlist,
        &.enter-sharing-mode,
        &.enter-add-to-cart-mode {
          display: none;

        }

        &.exit-add-to-cart-mode,
        &.wishlist-add-to-cart {
          display: block;
        }

      }

    }

  }

  &.sharing-mode {

    .product-list-container {
      display: none;
    }

    .sharing-container {
      display: block;
      overflow: hidden;

      p {
        line-height: 1.3;
      }
    }

    .wishlist-footer {

      .button {
        &.clear-wishlist,
        &.enter-sharing-mode,
        &.enter-add-to-cart-mode {
          display: none;

        }

        &.exit-sharing-mode {
          display: block;
        }

      }

    }
  }
  .sharing-container {

    h3 {
      margin: 30px 0 0;
    }

    .api-share {
      margin: 0 0 15px;

    }

    .share-link {
      margin: 0 0 20px;

      .wish-list-url {
        transition: 0.3s;
        display: block;
        margin: 0 0 5px;
        font-size: 12px;
        background: #EEEEEE;
        padding: 10px;

      }

      &.interaction-highlight {

        .wish-list-url {
          background: #666;
          color: #fff;
          transition: 0s;
        }

      }

    }

  }

  &.is-external {

    .delete-product {
      display: none !important;
    }

    .wishlist-footer {

      .clear-wishlist,
      .enter-sharing-mode,
      .exit-add-to-cart-mode,
      .delete-products-after-add-to-cart {
        display: none !important;

      }

    }

    .external-list-msg {

      margin: 10px 0px 0 0px;
      padding: 10px;
      background: #EEEEEE;

      p {
        line-height: 1.4;
        margin: 0;
        font-size: 12px;
      }
    }

  }

}

.wishlist-content .wishlist-products {

  font-size: 0;
  padding: 10px 10px 0;

  .product-item {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    position: relative;
    transition: opacity 0.3s;

    .add-to-cart-mode &.item-selected .product-inner {
      border-color: $js-primary-link-color;
    }
    &.fading {
      opacity: 0;
    }

    .product-inner {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      border: 1px solid #eee;
      padding: 10px;
      transition: 0.1s;
      @include clearfix();

      .default-mode &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        bcrder-color: #ccc;

      }
    }

    &.validation-error.item-selected .product-inner {
      border-color: $alert-color;
      background: rgba(255, 0, 0, 0.1);
    }

    .product-checkbox {
      display: none;

      .add-to-cart-mode & {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10%;
      }

      input {
        position: absolute;
        z-index: -5;
        opacity: 0;

        + label i {
          display: none;
          + i {
            display: block;
          }
        }

        &:checked {

          + label i {
            display: block;
            + i {
              display: none;
            }
          }
        }

        &.disabled + label {
          color: #ddd !important;
          cursor: default;
          opacity: 1;
        }

      }

      label {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        cursor: pointer;
        opacity: 0.8;
        color: $js-primary-link-color;

        &:hover {
          opacity: 1;
        }

        i {
          display: block;
          font-size: 30px;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          line-height: 1;
          margin: -20px 0 0 -20px;
          text-align: left;
          padding-left: 20%;

        }

      }

    }

    .delete-product {
      position: absolute;
      padding: 5px;
      top: 0px;
      right: 0px;
      cursor: pointer;
      display: block;
      line-height: 1;
      font-size: 24px;
      color: #ddd;
      z-index: 3;
      transition: 0.1s;

      &:hover {
        color: #666;
      }
    }

    .product-image {
      width: 150px;
      margin: 0 auto;
      text-align: center;

      .add-to-cart-mode & {
        float: left;
        width: 20%;
        margin-left: 10%;
      }

      a {
        @include autosize-image-container($js-product-wrapper-image-wrapper-height);

        .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -25px 0 0 -25px;
          display: block;
          font-size: 44px;
          color: #eee;
          font-weight: normal;
          z-index: 1;
          line-height: 1;
          width: 50px;
          height: 50px;

          &.fa-camera {
          }

          &.fa-ban {
            color: #eee;
            width: 100px;
            height: 100px;
            margin: -50px 0 0 -50px;

            z-index: 2;
            font-size: 100px;
            text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
          }
        }

      }
    }

    .product-info {

      .add-to-cart-mode & {
        float: left;
        width: 70%;
        padding-left: 15px;
      }

      .label, .value {
        display: inline-block;
        font-size: inherit;
      }

    }

    .product-name {
      padding: 10px 0 0;

      h3 {
        font-size: 14px;
        padding: 0;
        margin: 0;
        line-height: 1.2;

        .add-to-cart-mode & {
          padding-right: 20px;
        }

        a {

          &::after {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            display: block;
          }

          .add-to-cart-mode &::after {
            display: none;
          }
        }
      }

      .product-subname {
        font-style: italic;
      }
    }

    .article-number {
      display: none;

      .add-to-cart-mode & {
        //display: block;
      }
    }

    .stock-status {
      display: none;

      .add-to-cart-mode & {
        display: block;
      }
    }

    .attributes-wrapper {
      display: none;

      .add-to-cart-mode & {
        display: block;
      }
    }

    .product-price {

      > div {
        display: inline-block;
      }

      .price-standard {
        font-size: 15px;
        font-weight: bold;
      }

      .price-promotion {
        color: $js-price-discount-color;
        font-size: 15px;
        font-weight: bold;
      }

      .price-previous {
        text-decoration: line-through;
        font-size: 13px;
        margin-left: 3px;
      }
    }

    .attributes-wrapper {
      padding-top: 4px;

      .attribute-header {
        display: inline-block;
        min-width: 90px;

        .prefix {
          display: none;
        }
      }

      .attribute-container {
        display: inline-block;
      }

      .attribute-select {
        min-width: 140px;

        &[disabled='disabled'] {
          color: #999;
        }

        option {

          &.not-buyable {
            color: #bbb;
            text-decoration: line-through;
          }
        }
      }

      .attribute-select-lv1 {

      }

      .attribute-wrapper-lv2 {
        padding-top: 5px;

        select {
          display: none;

          &.visible {
            display: inline-block;
          }
        }

      }

      &.validation-error {

        select {
          border-color: $alert-color;
        }
      }
    }

    .product-not-buyable-message {
      display: none;
      font-style: italic;
      background: #eee;
      padding: 6px 10px;
      font-size: 0.9em;
      margin: 8px 0 0;
      line-height: 1.4;

      .add-to-cart-mode & {
        display: block;
      }
    }

  }

}

.wishlist-alert {
  max-width: 400px;

  p {
    line-height: 1.4;
  }

  .buttons {
    text-align: center;
    .button {
      display: inline-block;
      min-width: 100px;
    }
  }

  &.show-login-info {
    p {
      white-space: pre-wrap;
    }
  }

}

// OVERLAY
#wishlist-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  opacity: 0;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.8);

  i {
    position: fixed;
    font-size: 30px;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.5em;
    opacity: 0;
    transition: 0.2s 0.2s;
    display: block;
    line-height: 1;
  }

  &.hidden {
    height: 0;
    top: initial;

    i {
      display: none;
    }
  }

  &.active {
    opacity: 1;

    i {
      opacity: 1;
    }
  }
}

//
//    LARGE UP
//
@media #{$large-up} {

  @include calculate-item-width(2, 2, ".wishlist-content .product-item", 2);
  @include calculate-item-width(1, 1, ".add-to-cart-mode .wishlist-content .product-item", 1);

}

//
//    LARGE ONLY
//
@media #{$large-only} {

}

//
//    MEDIUM DOWN
//
@media #{$medium-down} {

  .wishlist-activator {

    a.button-wishlist {
      color: $js-menu-item-color;
      top: 8px;
      right: 15px;

      .product-quantity {
        background: $js-menu-item-color;
        color: $js-menu-buttons-wrapper-background-color;
        border: 1px solid $js-menu-buttons-wrapper-background-color;
        line-height: 15px;
        top: 1px;
        &:empty {
        }
      }

      &:hover {
        .product-quantity {
          background: $js-menu-item-color;

        }
      }

    }

  }

}

//
//    MEDIUM ONLY
//
@media #{$medium-only} {

  .wishlist-container {

    &.open {
      .wishlist-inner {
        left: 20%;
      }
    }

    .wishlist-inner {
      width: 80%;
    }

    &.is-external {

      .product-list-container,
      .sharing-container {
        top: 150px;
      }
    }
  }

  .wishlist-content .wishlist-products {

    .product-item {

      .product-image {
        width: 120px;
      }

    }

  }

  @include calculate-item-width(2, 2, ".wishlist-content .product-item", 2);
  @include calculate-item-width(1, 1, ".add-to-cart-mode .wishlist-content .product-item", 1);

}

//
//    SMALL ONLY
//
@media #{$small-only} {

  .wishlist-container {

    &.open {
      .wishlist-inner {
        left: 5%;
      }
    }

    .wishlist-inner {
      width: 95%;
    }

    .wishlist-content {
      padding: 10px;

    }

    .wishlist-close {
      top: 10px;
      left: 10px;

    }

    .login-info {
      top: 15px;
      right: 10px;
    }

    .wishlist-header {
      padding: 5px 0 10px;

      h2 {
        padding-top: 0;
      }

      .list-login {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .product-list-container,
    .sharing-container {
      left: 10px;
      top: 45px;
      right: 10px;
      bottom: 150px;
    }

    .product-list-container {
      left: 0px;

      .wishlist-products {
        margin-right: 0px;
        padding-right: 0;

      }
    }

    .add-to-cart-validation-error-msg {
      margin: 0 10px;

      p {
        line-height: 1.3;
        margin: 0;
        font-size: 12px;
      }
    }

    .wishlist-footer {

      left: 10px;
      right: 10px;

      a.button {

        span {
          font-size: 11px;
        }

        i {
          font-size: 16px !important;
        }
      }

      .delete-products-after-add-to-cart {

        padding-bottom: 8px;

        label p {
          font-size: 12px;
        }

      }

    }

  }

  .wishlist-content .wishlist-products {
    margin-right: 5px;

    .product-item {
      font-size: 12px;

      .product-checkbox label i {
        margin-left: -16px;
      }

      .add-to-cart-mode & .delete-product {
        width: 30px;
        height: 30px;
        text-align: center;
        top: 1px;
        right: 1px;
        padding: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #fff;
          border-radius: 100px;
        }

        i {
          vertical-align: middle;
          line-height: 1;
          position: relative;
          z-index: 2;
        }
      }

      .product-image {
        width: 15%;
        float: left;

        .add-to-cart-mode & {
          float: right;
        }

        a {

          .fa {
            margin: -10px 0 0 -10px;
            font-size: 18px;
            width: 20px;
            height: 20px;

            &.fa-camera {
            }

            &.fa-ban {
              width: 40px;
              height: 40px;
              margin: -20px 0 0 -20px;
              font-size: 40px;
            }
          }

        }

      }

      .product-info {
        width: 85%;
        float: left;
        padding-left: 10px;

        .product-name {
          padding-top: 0;
          padding-right: 20px;

          h3 a {
            font-size: 14px;
          }
        }

        .add-to-cart-mode & {
          float: none;
          width: 100%;
          padding-left: 10%;

        }
      }

    }

  }

  @include calculate-item-width(1, 1, ".wishlist-content .product-item", 2);
  @include calculate-item-width(1, 1, ".add-to-cart-mode .wishlist-content .product-item", 1);

}
