//
// Fannym Instafeed
//
@import "../../../scss/foundation/functions";
@import "../../../scss/base_settings";
@import "../../../scss/responsive-base/mixins";

$if-hover-background: rgba(0, 0, 0, .3);
$if-hover-color: #fff;
$if-hover-font-size: 1.5rem;
$if-large-up-items: 4;
$if-large-up-margin: 1;
$if-medium-down-items: 2;
$if-medium-down-margin: 2;
$if-medium-down-margin-bottom: 2%;


.instagram-feed-wrapper {

  margin: 0px 0 0;
  //border-top: 1px solid $border-color;
  padding: 0px 0 30px;
  @include clearfix();

  h2 {
    text-align: center;
    //font-family: "EB Garamond", Georgia, serif;
    font-size: 30px;
    font-style: italic;
    padding: 0 0 15px;
  }

  ul#instafeed {
    list-style: none;
    padding: 0;
    margin: 0;

    @media #{$large-up} {
      @include calculate-item-width($if-large-up-items, $if-large-up-margin, "li");
    }

    @media #{$medium-down} {
      @include calculate-item-width($if-medium-down-items, $if-medium-down-margin, "li");

      li {
        margin-bottom: $if-medium-down-margin-bottom;
      }
    }

    li {
      float: left;
    }

    a {
      position: relative;
      padding-top: 100%;
      display: block;
      background: #fff no-repeat center center;
      background-size: cover;

      img {
        max-width: 100%;
      }

      &:hover {

        &:after {
          opacity: 1;
          visibility: visible;
        }
        span {
          opacity: 1;
          visibility: visible;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $if-hover-background;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
      }

      span {
        bottom: auto;
        color: $if-hover-color;
        font-size: $if-hover-font-size;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        transition: all .3s;
        transform: translateY(-50%);
        top: 50%;
        text-align: center;
        visibility: hidden;
        z-index: 1;
      }
    }
  }
}