@import "voyado-integration-settings";

// MEMBER PRICES
product-wrapper .price-member,
.page-listproductswithimageadvanced .price-member,
.FrontRestProducts .price-member,
.page-showproduct .price-member,
.offers-list-wrapper .price-member,
.SearchPriceMember,
.simple-product-list-item-price .price-member span {
  color: $js-price-discount-color;
}

// DYNAMIC CART MEMBER PRICE ALERT
#dc-wrapper #dc-content .dc-item-row {
  .voyado-member-price-alert {
    margin: 6px 0 6px 0px;
    min-width: 400px;
    padding: 0;

    .content {
      border: $js-voyado-member-price-alert-border;
      padding: $js-voyado-member-price-alert-padding;
      background: $js-voyado-member-price-alert-background;
      font-size: $js-voyado-member-price-alert-font-size;
      line-height: $js-voyado-member-price-alert-line-height;
      position: relative;
      display: inline-block;

      &:hover {
        border-color: $js-voyado-member-price-alert-border-hover-color;
      }
    }

    .label {
      display: inline;
      font-size: inherit;
    }

    .value {
      font-weight: bold;
      margin: 0 8px 0 0;
    }

    a {
      white-space: nowrap;
      margin: 0 5px 0 0px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &::after {
        content: "\f105";
        font-family: FontAwesome;
        margin: 0 0 0 5px;
      }
    }

  }

  > .voyado-member-price-alert {
    display: none;
  }

}

// CHECKOUT ITEM PRICES
.cart-details-item-wrapper .cart-details-item {
  .member-discount-is-unavailable {
    position: relative;
    padding-bottom: 50px;

    .cart-details-member-price {
      border: $js-voyado-member-price-alert-border;
      padding: $js-voyado-member-price-alert-padding;
      background: $js-voyado-member-price-alert-background;
      font-size: $js-voyado-member-price-alert-font-size;
      line-height: $js-voyado-member-price-alert-line-height;
      display: block;
      position: absolute;
      top: 28px;
      white-space: pre;

      &::before {
        content: $js-voyado-member-price-label-text_sv + ": \000a";
        margin: 0 2px 0 0;

        .culture-en & {
          content: $js-voyado-member-price-label-text_en + ": \000a";
        }

        .culture-fi & {
          content: $js-voyado-member-price-label-text_fi + ": \000a";
        }

        .culture-nb & {
          content: $js-voyado-member-price-label-text_nb + ": \000a";
        }

        .culture-da & {
          content: $js-voyado-member-price-label-text_da + ": \000a";
        }

        .culture-de & {
          content: $js-voyado-member-price-label-text_de + ": \000a";
        }

        .culture-nl & {
          content: $js-voyado-member-price-label-text_nl + ": \000a";
        }

        .culture-fr & {
          content: $js-voyado-member-price-label-text_fr + ": \000a";
        }

        .culture-pl & {
          content: $js-voyado-member-price-label-text_pl + ": \000a";
        }

      }

    }

  }
}

// CHECKOUT MEMBERSHIP AREA
.member-offer-wrapper .member-offers {
  border: $js-voyado-member-price-alert-border;
  padding: 10px 15px 15px;
  background: $js-voyado-member-price-alert-background;
  line-height: $js-voyado-member-price-alert-line-height;

  .member-offers-text {
    font-style: italic;
  }
}

// MY PAGES REDESIGN
html[class*='page-responsivemypages'] {

  div#main-area {
    padding-left: 20px;
    padding-right: 20px;
  }

  #my-pages-landing-page-wrapper {

    .my-pages-landing-page-item {
      line-height: 1.3;

      .key-value-row {
        @include clearfix();
        max-width: 320px;

        .key {
          float: left;
          width: calc(100% - 80px);
          position: relative;
          padding-left: 20px;

          i {
            position: absolute;
            top: 2px;
            left: 0;
          }
        }

        .value {
          float: right;
          width: 80px;
        }

        + .key-value-row {
          margin-top: 12px;
        }
      }

      p {
        line-height: 1.3;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        + p {
          margin-top: 10px;
        }
      }
    }
  }
}

// MY PAGES DISCOUNT OFFERS
.voyado-discount-offers {

  padding: 0 0 20px;

  h2 {
    margin: 0;
    padding: 0 0 20px;
    line-height: 1;
  }

  ul {
    font-size: 0;

    li {
      display: inline-block;
      font-size: $js-body-font-size;
      position: relative;
      @include clearfix();
      line-height: 1.3;

      &.is-linked:hover {
        opacity: 0.8;
      }

      .offer-image {
        position: relative;
        padding-top: $js-voyado-discount-offer-image-height;
        margin: 0 0 5px;

        img {
          display: block;
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          max-height: 100%;
          max-width: 100%;

        }
      }

      h3 {
        font-size: $js-body-font-size * 1.1;
        font-weight: bold;
        margin: 0;
        text-transform: none;
      }

      p {
        font-size: $js-body-font-size;
        margin: 0 0 10px;
        line-height: 1.3;
      }

      .valid-until {
        color: #999;
        font-size: 0.9em;
        float: left;
      }

      a {
        float: right;
        font-size: 0.9em;
        margin: 0 0 0 15px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;

        }

      }
    }

  }

}


// POINT CARDS
.voyado-point-cards {

  .point-card-list {

    .point-card {

      .point-card-header {
        line-height: 1;
        padding: 0 0 8px;
        .name {

        }

        .slot-status {

        }
      }

      .slots {
        margin: 0 ($js-voyado-point-card-stamp-spacing * -1);
        font-size: 0;

        .slot {
          display: inline-block;
          width: 20%;
          padding: 0 $js-voyado-point-card-stamp-spacing;
          margin: 0 0 $js-voyado-point-card-stamp-spacing;

          span {
            padding: 100% 0 0;
            position: relative;
            display: block;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border-radius: 200px;
            }
          }


          &.slot-empty {

            span::after {
              border: 1px solid #666;
            }

          }

          &.slot-filled {
            span::after {
              background-color: #000;
            }
          }
        }

        &.slot-qty-6 li {
          width: 16.666666%;
        }

        &.slot-qty-7 li {
          width: 14.28571%;
        }

        &.slot-qty-8 li {
          width: 12.5%;
        }

        &.slot-qty-9 li {
          width: 11.111111%;
        }

        &.slot-qty-10 li {
          width: 10%;
        }



      }
      .last-stamp-date {
        font-size: 0.9em;
        font-style: italic;
        padding: 5px 0 0;
        color: #666;
      }

      + .point-card {
        border-top: 1px solid $border-color;
        margin-top: 10px;
        padding-top: 10px;
      }
    }
  }
}

//
//    LARGE-UP
//
@media #{$large-up} {

  // MY PAGES REDESIGN
  html[class^='page-responsivemypages'] {

    div[id^='my-pages-'] {

      #my-pages-nav-wrapper {
        width: 25%;
        float: left;
        margin: 20px 0 30px;

        #my-pages-nav {
          margin: 0;
          background: #EEEEEE;

          .my-pages-nav-item {
            float: none;
            width: 100%;
            display: block;
            text-align: left;
            border: 0;

            &:hover {
              background: #ddd;
            }

            + .my-pages-nav-item {
              border-top: 1px solid #fff;
            }

            .nav-item-text {
              margin-left: 5px;
            }
          }
        }

        .my-pages-landing-page-item {
          float: none;
          width: 100%;
          margin: 20px 0 0;
          background: #EEEEEE;
          padding: 10px 15px;

          h6 {
            margin-bottom: 8px;
          }
        }

      }

      #my-pages-main-content-wrapper {
        width: 72%;
        float: right;
        margin: 20px 0 30px;
        border: 1px solid $border-color;
        padding: 0 15px;

        div[id*='main_myPagesOrders_upOrders'] {
          padding-top: 10px;
          padding-bottom: 20px;

        }

        .toggler-activator {

          &::after {
            padding-top: 0;
          }
        }

        .button {
          max-width: calc(50% - 18px);
          margin-bottom: 20px;
        }

        select {
          background-color: #eee;
        }

        #my-pages-order-details-wrapper {
          padding-top: 10px;
          padding-bottom: 15px;

          #my-pages-order-details-left-wrapper {
            width: 100%;
            float: none;
            padding: 0;

            .key-value-row {

              .key {
                width: 75%;
              }

              .value {
                width: 25%;
              }
            }
          }

          #my-pages-order-details-right-wrapper {
            width: 100%;
            float: none;
          }

          #my-pages-order-details-customer-wrapper {
            background: #EEEEEE;
            padding: 15px 15px 0px;
            margin: 20px 0 0;

            p {
              display: inline-block;
              margin: 0 20px 15px 0;
              vertical-align: top;

            }
          }
        }

        #ctl00_main_myPagesSettings_ctl00 {
          > div:first-child {
            .toggler-activator {
              border-top: 0;
            }
          }

        }

      }

      &#my-pages-landing-page-wrapper #my-pages-main-content-wrapper {
        border: 0;
        padding: 0;
      }
    }
  }

}

//
//    MEDIUM DOWN
//
@media #{$medium-down} {

  // CHECKOUT MEMBERSHIP AREA
  .member-offer-wrapper .member-offers {
    width: 100%;
  }

  // MY PAGES REDESIGN
  html[class^='page-responsivemypages'] {

    #my-pages-order-details-customer-wrapper {
      background-color: #eee;
      border-radius: 0px;
    }

    #my-pages-landing-page-wrapper {

      .my-pages-landing-page-item {

        h6 {
          border-bottom: 1px solid $js-body-font-color;
          margin: 0 0 10px;
          padding: 0 0 5px;
        }
      }

      &.item-qty-1 {
        .my-pages-landing-page-item {

        }
      }

    }

  }
}

//
//    MEDIUM ONLY
//
@media #{$medium-only} {

  // MY PAGES REDESIGN
  html[class^='page-responsivemypages'] {

    #my-pages-landing-page-wrapper {

      #my-pages-landing-page-item-wrapper {
        @include clearfix();
        padding-bottom: 25px;

        .my-pages-landing-page-item {

          h6 {
          }

          span {
          }
        }

        &.item-qty-1 .my-pages-landing-page-item {
          width: 100%;
          float: none;
          margin-left: 0;
          margin-right: 0;
        }

        &.item-qty-2 .my-pages-landing-page-item {
          width: 48%;
          margin-right: 4%;
          padding: 0;

          &:last-child {
            margin-right: 0;
          }
        }

        &.item-qty-3 .my-pages-landing-page-item {
          width: 31%;
          margin-right: 3.5%;
          padding: 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }

    }

    // MY ORDERS
    #my-pages-order-list-wrapper {

      .table-wrapper {
        border: none;
      }

      table.my-pages-orders-page-order-table {
        border: 1px solid $border-color;

        th, td {
          display: table-cell;
          white-space: normal;
        }

        td.order-table-total {
        }

      }

      .scrollable {
        margin: 0 !important;
        overflow: visible !important;
      }

      .pinned {
        display: none;
      }
    }


  }

}

//
//  SMALL ONLY
//
@media #{$small-only} {

  // DYNAMIC CART MEMBER PRICE ALERT
  #dc-wrapper #dc-content .dc-item-row {
    .voyado-member-price-alert {
      display: none;
      float: none;
      clear: both;
      margin: 10px 0 0;
      min-width: 0;

      .content {
        display: block;
      }

      a {
        margin-left: 0;
      }
    }

    > .voyado-member-price-alert {
      display: block;
    }
  }

  // CHECKOUT ITEM PRICES
  .cart-details-item-wrapper .cart-details-item {
    .member-discount-is-unavailable {
      padding-bottom: 40px;

      .cart-details-member-price {
        display: block;
        position: absolute;
        top: 28px;
        white-space: nowrap;

      }

    }
  }

  // CHECKOUT MEMBERSHIP AREA
  .member-offer-wrapper .member-offers {
    width: 100%;

    h4 {
      font-size: 16px;
    }

    .member-offers-text {
      display: block;
      padding: 0 0 15px;
    }
  }

  // MY PAGES REDESIGN
  html[class^='page-responsivemypages'] {

    #my-pages-landing-page-wrapper {

      #my-pages-landing-page-item-wrapper {

        .my-pages-landing-page-item {
          margin-bottom: 30px;
        }
      }
    }

    // MY ORDERS
    #my-pages-order-list-wrapper {

      .table-wrapper {
        border: none;
      }

      table.my-pages-orders-page-order-table {
        border: 1px solid $border-color;
        display: block;
        color: $body-font-color;

        tbody, tr, th, td {
          display: block;
          white-space: normal;
        }

        thead {
          display: none;
        }

        tr {
          position: relative;
        }

        td {
          padding: 2px 10px;
          font-size: 0.9em;
          overflow: visible;
          position: static;

          &::before {
            //font-weight: bold;
            display: inline-block;
            text-align: right;
            padding-right: 10px;
            width: 50%;
            //opacity: 0.8;
          }

          &.order-table-orderid {
            padding-top: 10px;
            font-weight: bold;


            a {
              color: $body-font-color;

              &::before {
                content: "\f05a";
                font-family: FontAwesome;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                display: block;
                line-height: 1;
                color: $js-primary-link-color;

              }

              &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;

              }
            }
          }

          &.order-table-purchase-location {
            padding-bottom: 10px;
          }
        }

        td.order-table-total {
        }

      }

      .scrollable {
        margin: 0 !important;
        overflow: visible !important;
      }

      .pinned {
        display: none;
      }
    }

    // ENGLISH/FALLBACK
    .my-pages-orders-page-order-table {

      .order-table-orderid::before {
        content: "Order id:";
      }

      .order-table-date::before {
        content: "Order date:";
      }

      .order-table-total::before {
        content: "Total:";
      }

      .order-table-status::before {
        content: "Status:";
      }

      .order-table-purchase-location::before {
        content: "Purchased at:";
      }
    }


    &.culture-sv {
      .my-pages-orders-page-order-table {

        .order-table-orderid::before {
          content: "Ordernummer:";
        }

        .order-table-date::before {
          content: "Orderdatum:";
        }

        .order-table-total::before {
          content: "Summa:";
        }

        .order-table-status::before {
          content: "Status:";
        }

        .order-table-purchase-location::before {
          content: "Köpställe:";
        }
      }
    }

  }

}

// DISCOUNT OFFER AREAS

@media #{$xxlarge-only} {
  @include calculate-item-width(3, 3, ".voyado-discount-offers li", 3);

}

@media #{$xlarge-only} {
  @include calculate-item-width(3, 3, ".voyado-discount-offers li", 3);

}

@media #{$large-only} {
  @include calculate-item-width(3, 3, ".voyado-discount-offers li", 3);

}

@media #{$medium-only} {
  @include calculate-item-width(3, 3, ".voyado-discount-offers li", 3);
}

@media #{$small-only} {
  @include calculate-item-width(1, 5, ".voyado-discount-offers li", 5);
}