//
//  SETTINGS VOYADO INTEGRATION
//

$js-voyado-member-price-alert-font-size: 12px;
$js-voyado-member-price-alert-line-height: 1.4;
$js-voyado-member-price-alert-border: 1px solid rgba(0, 100, 0, 0.2);
$js-voyado-member-price-alert-border-hover-color: rgba(0, 100, 0, 0.5);
$js-voyado-member-price-alert-padding: 4px 7px;
$js-voyado-member-price-alert-background: #dfd;

$js-voyado-member-price-label-text_sv: "Medlemspris";
$js-voyado-member-price-label-text_en: "Member price";
$js-voyado-member-price-label-text_fi: "Member price (fi)";
$js-voyado-member-price-label-text_nb: "Member price (nb)";
$js-voyado-member-price-label-text_da: "Member price (da)";
$js-voyado-member-price-label-text_de: "Member price (de)";
$js-voyado-member-price-label-text_nl: "Member price (nl)";
$js-voyado-member-price-label-text_fr: "Member price (fr)";
$js-voyado-member-price-label-text_pl: "Member price (pl)";


$js-voyado-discount-offer-image-height: 100%;


$js-voyado-point-card-stamp-spacing: 2px;




