//
//  Checkout Validation
//

@import "../../../scss/foundation/functions";
@import "../../../scss/base_settings";
@import "../../../scss/responsive-base/mixins";

body span.customer-info-input-error
{
  padding: 2px 11px;
  background: $js-checkout-alert-color;
  color: white;
  position: absolute;
  display: inline-block;
  width: auto !important;
  font-style: normal;
  //@include border-radius(5px);
}

.form-row input.active-error,
.form-input.active-error,
.form-text.active-error
{
  border-color: $js-checkout-alert-color !important;
  color: $js-checkout-alert-color;
  &:focus {
    outline-color: $js-checkout-alert-color;
  }
}

