<div class="dynamic-filter-product-actions">
	{{#ifCond pageToFetch "<=" totalPages}}
		<button type="button" class="button action--dynamicFilter-fetch-products">
			{{ translate "FilterLoadMoreProducts" }}
		</button>
	{{/ifCond}}
</div>