{{#each ProductItems}}<li data-page="{{../CurrentPage}}">
   <div class="product-outer-wrapper {{#ifCond IsBuyable "!=" true}}{{#ifCond IsAvailableInWarehouse "==" true}} product-only-available-in-warehouse{{/ifCond}}{{/ifCond}}{{#ifCond IsBuyable "==" true}}{{#ifCond IsAvailableInWarehouse "!=" true}} product-only-available-in-webshop{{/ifCond}}{{/ifCond}}" product-id="{{Id}}">
		<article class="product-wrapper">
			<div class="product-image">
				<a title="{{Name}}" href="{{ProductUrl}}">
					<img class="lazyimg" title="{{{Name}}}" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}"
						 alt="{{Name}}" style="display: block;">
					{{#if ProductOverlays}}
						{{#each ProductOverlays}}
							<div class="pi-overlay pi-overlay-product-list {{ OverlayPosition }} pi-{{ @root.Language}}-overlay{{ImageIndex}} {{CssClass}}">
								{{#if OverlayTexts}}
									{{OverlayTexts.0.Value}}
								{{/if}}
							</div>
						{{/each}}
					{{/if}}
				</a>
			</div>
			<div class="product-buttons">
				<a class="button-info" href="{{ProductUrl}}">
					<span>{{translate "FilterInfoButton"}}</span>
				</a>
				{{#ifCond Specifications.length "==" 0}}
				{{#ifCond Attributes.length "==" 0}}
				{{#if IsBuyable}}
					<a class="buy-button" onclick="AddItemToCart(this,'', '{{Id}}', '{{currentCulture}}', null); ">
						<span>{{translate "FilterBuyButton"}}</span>
					</a>
				{{/if}}
				{{/ifCond}}
				{{/ifCond}}
			</div>
			<div class="product-info">
				<div class="product-name">
					<h3>
						<a title="{{{Name}}}" data-productid="{{Id}}" href="{{ProductUrl}}">{{{Name}}}</a>
					</h3>
                    <span class="product-subname">{{{SubName}}}</span>
				</div>
				<div class="product-price">
					{{#ifValue DiscountedPrice equals="-1"}}
						<div class="price-standard">
							<span class="price-amount">
								{{#if (isVatIncluded)}}
									{{{PriceString}}}
								{{else}}
									{{{ PriceStringWithoutVat }}}
								{{/if}}
							</span>
						</div>
					{{else}}
                        <div class="{{#if DiscountedPriceIsMemberPrice}}price-member{{else}}price-promotion{{/if}}">
							<span class="price-amount">
								{{#if (isVatIncluded)}}
									{{{DiscountedPriceString}}}
								{{else}}
									{{{ DiscountedPriceStringWithoutVat }}}
								{{/if}}
							</span>
						</div>
						<div class="price-previous">
							<span class="price-amount">
								{{#if (isVatIncluded)}}
									{{{PriceString}}}
								{{else}}
									{{{ PriceStringWithoutVat }}}
								{{/if}}
							</span>
						</div>
					{{/ifValue}}
				</div>
				<!--<div class="product-list-article-number"><span>{{Articlenumber}}</span></div>-->
				<!--
				<div class="product-list-description">
					{{{unescape ShortDescription}}}
				</div>
				-->
			</div>
		</article>
	</div>
</li>{{/each}}