<h2 class="show-for-medium-up">{{translate "filterHeading"}}</h2>
<button type="button" class="show-for-medium-down button action--show-filter">
    <i class="fa fa-sliders"></i>
    {{ translate "FilterMobileShowFilter" }}
</button>
<div class="filter-container">
    <div class="filter-options">
        {{#each FilterOptions }}
            <div data-equalizer-watch class="filter-options-item filter-option--{{Type}} filter-option--{{classFriendly Key}}">
                <div class="{{#ifCond Type "!=" "multiLevelList"}}hide{{else}}show-for-medium-down{{/ifCond}} filter-option-header">
                    <h4>{{DisplayText}}</h4>
                </div>

                {{#ifCond Type "===" "list"}}
                    <div data-type="{{Type}}" data-name="{{DisplayText}}" data-key="{{Key}}"
                         class="filter-option-element filter-option-element--{{Type}} filter-option-element--{{classFriendly
                                 Key}}">
                        <select multiple>
                            {{#each Values }}
                                <option title="{{Name}} {{#unless Selected}}({{ProductCount}}){{/unless}}" value="{{ Value }}" {{#if Selected }}selected="selected"{{/if}}>
                                    {{Name}} {{#unless Selected}}({{ProductCount}}){{/unless}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                {{/ifCond}}

               {{#ifCond Type "===" "multiLevelList"}}
                    {{#each GroupFilters }}
                        {{#ifCond Type "===" "list"}}
                            <div data-type="{{../Type}}" data-name="{{Name}}" data-key="{{Key}}"
                                 class="filter-option-element filter-option-element--{{Type}} filter-option-element--{{classFriendly
                                         Key}}">
                                <select name="{{classFriendly Key}}">
                                    <option value="-1">{{Name}}</option>
                                    {{#each Values }}
                                        <option title="{{Name}} {{#unless Selected}}({{ProductCount}}){{/unless}}" value="{{ Value }}" {{#if Selected }}selected="selected"{{/if}}>
                                            {{Name}} ({{ProductCount}})
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/ifCond}}
                    {{/each}}     
                {{/ifCond}}

                {{#ifCond Type "===" "span"}}
                    <div data-type="{{Type}}" data-name="{{DisplayText}}" data-key="{{Key}}"
                         class="filter-option-element filter-option-element--{{Type}} filter-option-element--{{classFriendly
                                 Key}}">
                        <div class="filter-option-box-button">
                            {{DisplayText}}
                        </div>

                        <div class="filter-option-box-content">
                            <div class="filter-option-box-content-input">
                                <div class="span-input" data-min="{{ Values.0.Value }}"
                                     data-max="{{ Values.1.Value }}"></div>
                            </div>

                            <button type="button" class="button btnOk">
                                {{ translate "FilterOk"}}
                            </button>

                            <button type="button" class="button btnClose">
                                {{ translate "FilterClose"}}
                            </button>
                        </div>
                    </div>
                {{/ifCond}}

                {{#ifCond Type "===" "bool"}}
                    <div data-type="{{Type}}" data-name="{{DisplayText}}" data-key="{{Key}}"
                         class="filter-option-element filter-option-element--{{Type}} filter-option-element--{{classFriendly
                                 Key}}">
                        <div class="filter-option-box-button">
                            {{DisplayText}}
                        </div>

                        <div class="filter-option-box-content">
                            <div class="filter-option-box-content-input">
                                <input type="checkbox" value="1" {{#ifCond Values.0.Selected "==" true}}checked{{/ifCond}} id="desktop-filter-{{classFriendly Key}}">
                                <label for="desktop-filter-{{classFriendly Key}}">{{ DisplayText }}</label>
                            </div>

                            <button type="button" class="button btnOk">
                                {{ translate "FilterOk"}}
                            </button>

                            <button type="button" class="button btnClose">
                                {{ translate "FilterClose"}}
                            </button>
                        </div>
                    </div>
                {{/ifCond}}
            </div>
        {{/each}}
    </div>

    <div class="filter-actions show-for-medium-down">
        <button type="button" class="button action--apply-filter">
            {{ translate "FilterApplyFilter" }}
        </button>
        <button type="button" class="button action--reset-filter">
            {{ translate "FilterReset" }}
        </button>
    </div>
</div>

<div class="filter-choices">
    <h3>{{ translate "FilterYourChoices" }}</h3>

    {{#each FilterOptions }}

        {{#ifCond Type "==" "multiLevelList" }}
            <span class="filter-choices-item filter-choice-multilevel-items action--remove-filter-choice" data-type="{{ Type }}" data-key="{{ Key }}" data-name="{{ Name }}">
                {{ Name }}<br class="show-for-small-only" />
                <div class="filter-choices-multilevel-selected"> 
                    {{#each GroupFilters }}
                        {{#each Values }}
                            {{#if Selected }}<span>{{Name}}</span>{{/if}}
                        {{/each}}                        
                    {{/each}}
                </div>
                <span class="filter-choices-item--remove">
                    <i class="fa fa-close"></i>
                </span>            
            </span>
        {{/ifCond}}

        {{#each Values }}
            {{#ifCond ../Type "===" "span"}}
                {{#ifCond SelectedValue "!==" null}}
                    <span class="filter-choices-item action--remove-filter-choice" data-type="{{ ../Type }}" data-key="{{ ../Key }}" data-selectedValue="{{ SelectedValue }}" data-value="{{ Value }}" data-name="{{ Name }}">
                        {{#ifCond ../Type "==" "span" }}
                            {{#ifCond Name "==" "pricemin"}}
                                {{ translate "FilterMinPrice" }} {{ currency SelectedValue }}
                            {{/ifCond}}
                            {{#ifCond Name "==" "pricemax"}}
                                {{ translate "FilterMaxPrice" }} {{ currency SelectedValue }}
                            {{/ifCond}}
                        {{/ifCond}}
                        <span class="filter-choices-item--remove">
                            <i class="fa fa-close"></i>
                        </span>
                    </span>
                {{/ifCond}}
            {{else}}
                {{#if Selected}}
                    <span class="filter-choices-item action--remove-filter-choice" data-type="{{ ../Type }}" data-key="{{ ../Key }}" data-selectedValue="{{ SelectedValue }}" data-value="{{ Value }}" data-name="{{ DisplayText }}">
                        {{#ifCond ../Type "==" "bool" }}
                            {{ ../DisplayText }}: {{ translate "FilterYes" }}
                        {{/ifCond}}

                        {{#ifCond ../Type "==" "list" }}
                            {{ ../DisplayText }}: {{ Name }}
                        {{/ifCond}}

                        <span class="filter-choices-item--remove">
                            <i class="fa fa-close"></i>
                        </span>
                    </span>
                {{/if}}
            {{/ifCond}}
        {{/each}}
    {{/each}}
    <span class="filter-choices-item filter-choices-item--reset action-reset-filter">
        {{ translate "FilterReset" }}
        <span>
            <i class="fa fa-close"></i>
        </span>
    </span>
</div>