{{#each ProductItems}}<li class="product-advanced-row" data-id="{{Id}}">
	<div class="product-advanced-image">
		<a title="{{{Name}}}" href="{{ProductUrl}}">
			<img class="lazyimg" title="{{{Name}}}" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}" alt="{{{Name}}}">
			
			{{#if ProductOverlays}}
				{{#each ProductOverlays}}
					<div class="pi-overlay pi-overlay-product-list pio-top-left pi-{{@root.Language}}-overlay{{ImageIndex}} {{CssClass}}">
						{{#if OverlayTexts}}
							{{OverlayTexts.0.Value}}
						{{/if}}
					</div>
				{{/each}}
			{{/if}}
		</a>
	</div>

	<div class="product-advanced-column2">
		<div class="product-advanced-name">
			<a title="{{{ Name }}}" data-productid="{{Id}}" href="{{ProductUrl}}">
				{{{Name}}}
			</a>
		</div>
		<div class="product-advanced-subname">
			<span>{{{SubName}}}</span>    
		</div>
		<div class="product-advanced-article">
			<span>{{ArticleNumber}}</span>
		</div>
	</div>

	<div class="product-advanced-column3">
		<div class="product-advanced-price-box">
			{{#ifValue DiscountedPrice equals="-1"}}
			<div class="product-advanced-price">
				<div class="price-standard">
					<span>
						{{#if (isVatIncluded)}}
							{{{PriceString}}}
						{{else}}
							{{{ PriceStringWithoutVat }}}
						{{/if}}
					</span> 
				</div>
			</div>
			{{else}}
			{{/ifValue}}
			<div class="product-advanced-price-previous">
				<span>
					{{#if (isVatIncluded)}}
						{{{PriceString}}}
					{{else}}
						{{{ PriceStringWithoutVat }}}
					{{/if}}
				</span>
			</div>
			<div class="product-advanced-price">
                <div class="{{#if DiscountedPriceIsMemberPrice}}price-member{{else}}price-promotion{{/if}}">
					<span>
						{{#if (isVatIncluded)}}
							{{{DiscountedPriceString}}}
						{{else}}
							{{{ DiscountedPriceStringWithoutVat }}}
						{{/if}}
					</span> 
				</div>
			</div>
		</div>
		<div class="product-advanced-price-stock-status">
			<span class="stock-status-label">
				<span>{{translate 'FilterStockStatus'}}:</span>
			</span> 
			<span class="stock-status-value">
				<span class="InStockCssClass">{{StockStatusName}}</span>
			</span> 
		</div>

			<div class="product-advanced-quantity"></div>

			{{#ifCond Specifications.length "==" 0}}
			{{#ifCond Attributes.length "==" 0}}
			{{#if IsBuyable}}
			<div class="product-advanced-price-buttons">
				<a class="advanced-buy-button-text" onclick="AddItemToCart(this,'', '{{Id}}', '{{currentCulture}}', null);"><span>{{translate "FilterBuyButton"}}</span></a>
			</div>
			{{/if}}
			{{/ifCond}}
			{{/ifCond}}

			<div class="product-advanced-info-buttons">
				<a class="advanced-info-button-text" href="{{ProductUrl}}">
					<span>{{translate "FilterInfoButton"}}</span>
				</a>
			</div>
		</div>
		<div class="product-advanced-description">
			{{{ unescape ShortDescription }}}
		</div>
	</div>
</li>
{{/each}}