@import "../../../scss/foundation/functions";
@import "../../../scss/responsive-base/mixins";
@import "../../../scss/base_settings";

div.findify-element {
	div.findify-widget--products-carousel {}
	h4.findify-widget--products-carousel__title {}

	a.findify-widget--product {
		div.findify-widget--product__image-wrap {
			img {}
		}

		div.findify-widget--product__content {
			h5.findify-widget--product__title {}
		}

		div.findify-widget--product__price-wrap {
			span.findify-widget--product__price {}
			span.findify-widget--product__compare {}
		}

		p.findify-widget--product__out-of-stock {}
	}
}