#product-variants {
  padding: 20px 0;

  h3 {
    margin-top: 0;
  }

  ul {

    li {

      a {
        display: block;
        position: relative;
        padding-top: $js-product-wrapper-image-wrapper-height;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          max-height: 100%;
          max-width: 100%;
          margin: auto;

        }
      }
    }
  }
}
