@import "../../../scss/foundation/functions";
@import "../../../scss/responsive-base/mixins";
@import "../../../scss/base_settings";

//
//  Small
//
@media #{$small-only} {
  @include calculate-item-width(1, $js-product-wrapper-margin-right, 'div.filter-wrapper div.filter-options-item');
}

//
//  Medium
//
@media #{$medium-only} {
  @include calculate-item-width(2, $js-product-wrapper-margin-right, 'div.filter-wrapper div.filter-options-item');
}

//
//  Large
//
@media #{$large-only} {
  @include calculate-item-width($js-total-products-large, $js-product-wrapper-margin-right-large-up, 'div.filter-wrapper div.filter-options-item');
}

//
//  X-Large
//
@media #{$xlarge-only} {
  @include calculate-item-width($js-total-products-xlarge, $js-product-wrapper-margin-right-large-up, 'div.filter-wrapper div.filter-options-item');
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
  @include calculate-item-width($js-total-products-xxlarge, $js-product-wrapper-margin-right-large-up, 'div.filter-wrapper div.filter-options-item');
  @include calculate-item-width($js-total-products-xxlarge, $js-product-wrapper-margin-right-large-up, 'div.filter-wrapper-multilevel div.filter-options-item');
}
