.read-more {
  display: none;
}

.category-header-subtitle {
  max-height: 400px;
  visibility: hidden;
  overflow: hidden;

  &.trimmed {
    visibility: visible;

    .initial-text p {
      &:after {
        content: '...';
      }
    }
  }
  &.toggled {
    max-height: none;

    .read-more {
      display: initial;
    }

    .initial-text p {
      &:after {
        content: '';
      }
    }
  }
}