{{#each ProductsCart }}
<div class="dc-item-row {{#ifValue ProductId equals=../lastProductAdded }}product-added{{/ifValue}}" data-id="{{ ProductId }}" data-rec-id="{{ RecId }}" data-attribute-id="-1">
    <div class="img">
        {{#if Images.0.Url }}
        <a href="{{#if (isStage)}}/stage{{/if}}{{ ProductLink }}"><img src="{{Images.0.Url}}" alt="{{ Name }}"></a>
        {{ else }}
        <a href="{{#if (isStage)}}/stage{{/if}}{{ ProductLink }}"><img src="/m1/stage/images/responsive-base/missing-image.png" alt="{{ Name }}"></a>
        {{/if}}
    </div>
    <div class="item">
        <div class="description">
            <a class="name" href="{{#if (isStage)}}/stage{{/if}}{{ ProductLink }}">{{ Name }}</a>
            <span class="item-number">{{ translate "dcItemNumber" }}: {{ Articlenumber }}</span>
            {{#if Comments}}
            <div class="comments">
                {{#each Comments}}
                    <div class="comment">
                        <span class='key'>{{unescape Name}}:</span> <span class="value">{{Comment}}</span>
                    </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="price">
        <span class="price-string">
            {{#if (isVatIncluded)}}
                {{{ ItemPriceSumText }}}
            {{else}}
                {{{ ItemPriceSumNoVatText }}}
            {{/if}}
        </span>
        <span class="separator"> / </span>
        <span class="qty-suffix">{{ QuantitySuffix }}</span>
    </div>
    <div class="qty">
        <span class="label">{{ translate "dcQty" }}: </span>
        <span class="value">{{ Quantity }}</span>
    </div>
    <div class="delete">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="total">
        <span>
            {{#if (isVatIncluded) }}
                {{{ TotalPriceSumText }}}
            {{else}}
                {{{ TotalPriceSumNoVatText }}}
            {{/if}}
        </span>
    </div>
</div>
{{/each}}
