$subcategories-total-items-xxlarge: $js-total-products-xxlarge;
$subcategories-total-items-xlarge: $js-total-products-xlarge;
$subcategories-total-items-large: $js-total-products-large;
$subcategories-total-items-medium: $js-total-products-medium;
$subcategories-total-items-small: $js-total-products-small;
$subcategories-item-margin-right: 2; // Int (represents percentage)
$subcategories-item-margin-right-large-up: 3; // Int (represents percentage)
$subcategories-spinner-height: 100px;
$subcategories-item-selector: "#subcategories-container .subcategories-item";