/* SEARCH RESULT
----------------------------------------------------------------------------- */
.page-showsearchresult #path-nav {
  //display: none;
  visibility: hidden;
}

.search-string-result {
  margin: 0 0 10px 0;
  font-size: 1.2em;

  .search-string {
    font-style: italic;
    font-weight: bold;
    //text-decoration: underline;
  }

  .paging-info {
    margin-left: 5px;
    &::after {
      content: ".";
    }
  }
}

.search-result-table {
  margin: 20px 0 0px 0;
  border-spacing: 10px;

  tr {
    border-bottom: 1px solid $js-search-result-page-divider-color;

    &:last-child {
      border-width: 2px;
    }

    &.search-table-headers {
      border-top: 2px solid $js-search-result-page-divider-color;
      border-bottom: 2px solid $js-search-result-page-divider-color;

      td {
        padding-top: 7px;
        padding-bottom: 7px;
        font-weight: normal;

        &.SearchProductPrice {
          padding-right: 20px;



        }
      }
    }
    /*
    &.product-only-available-in-warehouse td.search-productnamne,
    &.product-only-available-in-webshop td.search-productnamne {
      position: relative;

      &:after {
        font-size: .75rem;
        padding: 4px 8px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.product-only-available-in-warehouse td.search-productnamne {
      &:after {
        content: "Only in warehouse";
        background: $warning-color;
        color: $white;
      }
    }

    &.product-only-available-in-webshop td.search-productnamne{
      &:after {
        content: "Webshop exclusive";
        background: $success-color;
        color: $white;
      }
    }
    */
  }

  td {
    vertical-align: middle;
    text-align: left;
    padding: 5px 10px 5px 0;
  }

  .search-thumb {
    width: 100px;
    padding-right: 0;

    .search-image {
      position: relative;
      padding: $js-product-wrapper-image-wrapper-height 0 0;
      overflow: hidden;

      img {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .search-productnamne {
    font-weight: bold;
    padding-left: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .search-articlenumber {
    text-align: left;
  }

  td.SearchProductPrice {
    white-space: nowrap;
    text-align: right;
    padding-right: 5px;

    .SearchPricePrevious {
      margin-left: 10px;
      font-weight: normal;
    }

  }

  .search-amount {
    display: none;

    input {
      width: 30px;
      //height: 15px;
      text-align: center;
      padding-top: 4px;
      padding-bottom: 4px;
    }

  }

  .search-order {
    text-align: center;
    padding-left: 20px;

    a {
      white-space: nowrap;
      max-width: 130px;
      margin: auto;

    }
  }
}

.search-paging {
  padding: 30px 0;
  display: none;

  &.bottom {
    display: block;
    border-top: 0px;
  }

  table {
    width: auto !important;
    margin: 0 auto;
  }

  td {

    &:first-child {
      width: auto !important;

      + td {
        white-space: nowrap;
        padding: 0 40px;
      }
    }

    &:last-child {

      width: auto !important;
    }
  }

  a {
    display: block;
    white-space: nowrap;
    font-size: 0;
    min-width: 3rem;

    &::after,
    &::before {
      font-family: fontawesome;
      display: inline-block;
      font-weight: normal;
      vertical-align: baseline;
      font-size: 1rem;
    }

    &.search-prev::before {
      content: "\f053";
    }

    &.search-next::after {
      content: "\f054";
    }
  }

}

.search-previous-searches {
  clear: both;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 -5px;

  .search-previous-searches-label {
    display: inline-block;
    padding: 0 10px 0 0;

    &::after {
      content: ":";
    }
  }

  .search-previous-queries {
    display: inline-block;

    .search-previous-string {
      margin-right: 8px;
      display: inline-block;
      font-style: italic;
    }

    div {
      display: none;
    }
  }
}

//
//  Medium only
//
@media #{$medium-only} {

  .search-result-table {
    .search-thumb {
      width: 80px;
    }

    .search-articlenumber {
      display: none;
    }
  }
}

//
//  Small Only
//
@media #{$small-only} {

  .search-string-result {
    .paging-info {
      display: block;
      margin: 0;
    }
  }

  .search-result-table {

    tr.search-table-headers {

      td.SearchProductPrice {
        padding-right: 18px;

      }
    }

    .search-thumb {
      width: 50px;
    }

    .search-productnamne {
      padding-left: 15px;
    }

    td.SearchProductPrice {
      padding-right: 5px;

      span {
        display: block;
        margin: 0;
      }
    }

    .search-articlenumber,
    .search-amount,
    .search-order {
      display: none;
    }
  }

  .search-paging {
    td {
      &:first-child {
        + td {
          padding: 0 20px;
        }
      }
    }
  }

}