
/* PRODUCT PAGE
----------------------------------------------------------------------------- */

#stock-notification-popup {
  height: auto;

  * {
    box-sizing: border-box;
  }
}

.page-showproduct {
  .fancybox-iframe {
    html, body {
      height: 100%;
    }
  }
}

.product-images {
  float: left;
  width: 50%;
  margin: 0 0 10px 0;
  padding-right: 30px;
}

.product-description {
  float: right;
  width: 50%;
  margin: 0 0 10px 0;
  clear: right;
}

#FrontImage {
  max-width: 100%;
  cursor: pointer;
  vertical-align: bottom;
}

.show-product-image {
  position: relative;
  text-align: center;
}

a.ProductThumbnail {
  @include autosize-image-container($js-product-wrapper-image-wrapper-height);
}

a.ProductThumbnail img {
}

.ProductThumbnailsBody {
  margin-top: 20px;
}
.ProductImageClickMessage {
  display: none;
}

h1.product-page-header {
  margin: 0 0 10px 0;
}

h2.product-subname {
  margin: 0 0 10px 0;
  color: $js-product-list-subname-color;
  text-transform: none;
}

h1.product-page-header,
h2.product-subname {
  word-wrap: break-word;
}

.product-short-description {
  @include js-description-text($js-description-font-size);
}

.tab-item.tab-description {
  @include js-description-text($js-description-font-size);
}


.product-short-description, .product-description .inner {
  overflow: hidden;
  margin: 0 0 5px 0;
}

.product-short-description {
  margin-bottom: 22px;
}

.product-description .inner div {
  margin: 0 0 5px 0;
}
/*
div.product-only-available-in-webshop {
  div.purchase-block-stock {
    &:after {
      display: block;
      color: $success-color;
      content: "Webshop exlusive";
      font-weight: bold;
    }
  }
}

div.product-only-available-in-warehouse {
  div.purchase-block-stock {
    &:after {
      display: block;
      color: $warning-color;
      content: "Only available in warehouse";
      font-weight: bold;
    }
  }
}
*/
span.product-article-number-label, span.product-unit-label, span.stock-status-label {
  font-weight: bold;
  margin: 0 5px 0 0;
}

// Hide article number
.product-article-number {
  // display: none;
}

// Hide product unit
.product-unit {
  display: none;
}

.ProductCommentItemCssClass {
  margin: 0 0 20px 0;
}

.ProductCommentItemCssClass span {
  display: block;
  font-weight: bold;
}

.ProductCommentLargeInputCssClass {
  width: 100%;
  padding: 4px;
  border: 1px solid #cdcdcd;
  resize: vertical;
}


.product-specification-params {
  display: none;
}

.product-attributes {
  overflow: hidden;
}



.product-attributes-1 {
  margin: 0 20px 0 0;
  font-weight: bold;
}

.product-attributes-2 {
  margin: 12px 0 10px 0;
  font-weight: bold;
}

.product-attributes span {
  display: block;
  margin: 0 0 3px 0;
}


span.product-specification-label {
  font-weight: bold;
  display: block;
  margin: 0 0 2px 0;
}

.product-specification-wrapper {
  margin-bottom: 24px;
}

.product-specification-wrapper select {
  min-width: 190px;
  margin: 0 0 10px 0;
}

.purchase-block {
  clear: both;
}

.purchase-block-stock {
  padding: 0 0 10px;
}

.page-showproduct .purchase-block-price {
  margin-bottom: 10px;
}

.page-showproduct .purchase-block-price-currency {
  padding: 0 0 0 5px;
}

.page-showproduct .purchase-block-price-unit {
  display: none;
}

.purchase-block-price .KlarnaMonthlyCost {
  margin: 5px 0 0 0;
}

.purchase-block-quantity {
  float: left;
  margin: 0 10px 0 0;
}

.purchase-block-quantity span {
  display: none;
}

.purchase-block-quantity input {
  width: 36px;
  height: 36px;
  padding: 0;
  text-align: center;
  font-size: 1rem;
}



/* TEMPLATES */
.tab-item-inner .template-wrapper {
  display: table;

  .templateRow,
  .templateAlternateRow {
    display: table-row;

    > * {
      display: table-cell;
      padding: 8px 20px 8px 0;
      max-width: 400px;
      border-bottom: 1px dotted darken($border-color, 30%);
      vertical-align: top;

      &.templateItemTitle {
        font-weight: bold;
        max-width: 200px;
        min-width: 100px;
      }

      li {
        padding-left: 10px;
        position: relative;
        &::before {
          content: "•";
          position: absolute;
          left: 0;
        }
      }
    }
  }

  .multi-level-list {
    border: 1px solid $border-color;
    margin: 5px 0;

    th {
      text-align: left;
      padding: 5px 15px 5px 5px;
      font-style: italic;
      vertical-align: top;
      background: #eee;

    }

    td {
      padding: 5px 15px 5px 5px;
      vertical-align: top;
      border-top: 1px solid $border-color;

    }
  }

  .templatetype-bool-true {

    .template-item-value {

      img {
        display: none;
      }

      &::before {
        content: "\f00c";
        font-family: FontAwesome;
        color: #090;
        font-size: 18px;
      }
    }
  }
}

/* RELATED PRODUCTS */
table.relatedTable {

  tr {
    border-bottom: 1px solid $border-color;

    &:first-child {
      border-bottom: 0;
    }

    &.headerGray {
      display: none;
    }
  }

  td {
    vertical-align: middle;
    padding: 10px 10px 10px 0;

    &.RelatedProductImage {
      width: 100px;
      text-align: left !important;
      padding-right: 20px;

      a {
        @include autosize-image-container($js-product-wrapper-image-wrapper-height);
        display: block !important;
      }
    }

    &.RelatedProductName {
      width: auto;
    }

    &.RelatedProductName a {
      font-weight: bold;
    }

    &.RelatedProductArticleNumber {
      display: none;
    }

    &.RelatedProductPrice {
      white-space: nowrap;
      text-align: center;
    }

    &.RelatedProductButtons {

      a {
        float: right;
        min-width: 100px;
      }

      br {
        display: none;
      }

      > span + br + a {
        display: none;
      }
    }
  }
}

/* TOOLBAR */
.product-toolbar {
  @include clearfix;
  clear: both;
  display: none;
  margin: 0 10px 10px 0;
  //padding: 10px;
  //background: #efefef;
  //border-top: 1px solid #cdcdcd;
  //behavior: url(/SystemScripts/PIE.htc);
}

.product-toolbar img {
  width: 75%;
}

.product-toolbar-image-wrapper {
  float: left;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.product-toolbar-image-wrapper.product-toolbar-print,
.product-toolbar-image-wrapper.product-toolbar-showimage,
.product-toolbar-image-wrapper.product-toolbar-pdf
{
  display: none;
}

.social-media {
  float: right;
}

.product-page-back-link {
  clear: both;
  cursor: pointer;
  margin: 30px 0 20px;
  font-weight: bold;

  a {
    &::before {
      content: "\f053";
      font-family: FontAwesome;
      margin: 0 6px 0 0;
    }
  }

}

/* PRODUCT FILES */
.product-files-box {
  display: none !important;
  position: static !important;
  clear: both;

}

.product-files-box-shadow {
  display: none !important;
  //background-color: rgb(0, 0, 0);
  //width: 100%;
  //height: 100%;
  //opacity: 0.15;
  //filter: alpha(opacity=15);
}

// THESE ARE NOW IN TAB SYSTEM
.product-files-link {
  float: left;
  clear: both;
  margin: 0 0 5px;

  &::before {
    content: "\f15b";
    font-family: FontAwesome;
    margin: 0 7px 0px 0;
  }
}

.product-files-button {
  float: left;
}

.product-files-box-close {
  min-width: 30px;
  min-height: 30px;
  text-decoration: underline;
  cursor: pointer;
  background: url(/images/fancybox/fancy_closebox.png) no-repeat;
  height: 30px;
  width: 30px;
  float: right;
}

.product-files-header {
  font-weight: bold;
}


div.product-tabs {
  margin: 0;
}

//
//  Tab system
//

#tab-wrapper {
  clear: both;
}

.tab-item {
  margin-bottom: 44px;
  &:first-child {
    margin-top: 44px;
  }
  .tab-item-header {
    font-size: 1.4em;
    padding-bottom: 3px;
    border-bottom: 1px dotted darken($border-color, 30%);
  }
  .tab-item-inner {
    padding-bottom: 8px;
  }
}


.multi-level-list th {
    text-align: left;
}

table.multi-level-list {
    width: 100%;
}

.multi-level-list td {
    vertical-align: top;
    padding: 4px;
}

.multi-level-list tr:nth-child(odd) {
    background-color: $ghost;
}

.multi-level-list thead tr:nth-child(odd) {
    background: transparent;
    border-bottom: 1px solid gray;
}


//
//  Errors on product comment validation
//
.ProductCommentValidatorErrorCssClass {
  color: $alert-color;
  background-color: lighten($alert-color, 50%);
  padding: 5px;
  &:before {
    font-family: "FontAwesome";
    content: "\f071";
    padding-right: 6px;
  }
}




//
//  Medium
//
@media #{$medium-only} {


  .product-images {
    width: 50%;
  }

  .product-description {
    width: 50%;
  }


  /* RELATED PRODUCTS */
  table.relatedTable {

    td {

      &.RelatedProductImage {
        width: 80px;
      }
    }
  }
}

//
//  Small
//
@media #{$small-only} {

  .product-images {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .product-description {
    float: none;
    width: 100%;
    clear: both;
  }


  /* TEMPLATES */
  .tab-item-inner .template-wrapper {
    display: block;

    .templateRow,
    .templateAlternateRow {
      display: block;

      > * {
        display: block;
        max-width: none;

        &.templateItemTitle {
          font-weight: bold;
          border: none;
          padding: 8px 0 0px 0;

        }

        &.template-item-value {
          padding: 0 0 8px;
        }

      }
    }

    .multi-level-list {
      //width: 100%;
      border: 1px solid $border-color;
      margin: 5px 0;

      th {
        text-align: left;
        padding: 5px 15px 5px 5px;
        font-style: italic;
        vertical-align: top;
        background: #eee;
      }

      td {
        padding: 5px 15px 5px 5px;
        vertical-align: top;
        border-top: 1px solid $border-color;

      }
    }
  }

  /* RELATED PRODUCTS */
  table.relatedTable {

    td {
      padding: 5px 5px 5px 0;

      &.RelatedProductImage {
        width: 50px;
        padding-right: 10px;
      }


      &.RelatedProductName a {
        font-weight: normal;
      }

      &.RelatedProductPrice {
        text-align: right;
      }

      &.RelatedProductButtons {
        display: none;
      }
    }
  }
}