<div class="error-messages">
    <p class="attr-msg">{{translate "packUpUnselectedAttributesErrorMsg"}}</p>
    <p class="not-buyable-msg">{{translate "packUpPackageUnbuyable"}}</p>
</div>
<div class="add-to-cart">
    <input value="1" class="qty" type="text">
    <a class="button buy-button">
        <span>{{translate "packUpBuyButton"}}</span>
    </a>
</div>
