<div class="package-upsell-wrapper">
    <div class="total-price upper"></div>
    <div class="package-products"></div>
    <div class="upsell-products"></div>
    <div class="total-price lower"></div>
    <div class="add-to-cart-wrapper"></div>
</div>