<div class="package-upsell-item-popup">
    <article class="product-wrapper">
        <div class="image">
            {{#if Images.length}}
                <img src="{{replace Images.[0].Url "/small" "/medium"}}" alt="{{{Name}}}" />
            {{/if}}
        </div>
        <div class="product-info">
            <div class="name">
                <h2>{{{Name}}}</h2>
                <span class="subname">{{SubName}}</span>
            </div>
            <div class="short-description">{{{htmlDecode ShortDescription}}}</div>
            <div class="long-description">{{{htmlDecode Description}}}</div>
            <div class="product-page-link">
                <a href="{{ProductUrl}}">{{translate "packUpGoToProductPage"}}</a>
            </div>
        </div>
    </article>
</div>

