<h2 class="list-title">{{translate "packUpPackageListTitle"}}</h2>
<ul class="package-products-list">
    {{#each ProductsInPackage}}
        <li class="item package-item{{#unless IsBuyable}} not-buyable{{/unless}}"
            data-std-price="{{stdPrice}}"
            data-dsc-price="{{dscPrice}}"
            data-out-price="{{outPrice}}"
            data-pkg-price="{{pkgPrice}}"
            data-quantity="{{MinQuantity}}"
            data-prod-id="{{ProductId}}"
        >
            <div class="image">
                <a class="item-link" href="#">
                    {{#if Images.length}}
                        <img src="/pub_images/small/{{Images.[0]}}" alt="{{{Name}}}" data-org-src="/pub_images/small/{{Images.[0]}}"/>
                    {{/if}}
                    <span class="spinner">
                        <i class="fa fa-spin fa-spinner"></i>
                    </span>
                </a>
            </div>
            <div class="description">
                <div class="name">
                    <h3>
                        <a class="item-link" href="#">
                            <span class="item-quantity item-quantity-{{MinQuantity}}">
                                <span>{{MinQuantity}}</span><i class="fa fa-times"></i>
                            </span>
                            {{Name}}
                        </a>

                    </h3>
                    {{#if SubName}}
                        <span class="subname">{{{SubName}}}</span>
                    {{/if}}
                </div>
                <div class="product-price{{#if hasPackUpDiscount}} has-discount{{else}} no-discount{{/if}}">

                    <div class="original-price">
                        <span class="label">{{translate "packUpRegularPrice"}}: </span>
                        <span class="value dsc-price">{{{priceToString dscPrice}}}</span>
                        <span class="value std-price">{{{priceToString stdPrice}}}</span>
                    </div>

                    <div class="current-price">
                        <span class="label">
                            {{#if hasPackUpDiscount}}
                                {{translate "packUpPackagePrice"}}:
                            {{else}}
                                {{translate "packUpNoDiscountPrice"}}:
                            {{/if}}
                        </span>
                        <span class="value pkg-price">{{{priceToString pkgPrice}}}</span><span class="unit">{{translate "packUpPriceEach"}}</span>
                        <span class="value out-price">{{{priceToString outPrice}}}</span>
                    </div>
                </div>
                <div class="stock-status">
                    <span class="label">{{translate "packUpStockStatus"}}: </span>
                    <span class="value">{{StockStatus}}</span>
                </div>

                {{#if hasAttrs}}
                    <div class="attributes-wrapper {{#if attrData.isSingleAttr}}single-attr{{else}}double-attr{{/if}}">
                        <div class="attributes-lv1">
                            <span class="attr-name">{{attrData.attrLv1Name}}</span>
                            <div class="attr-lv1 attribute-select-wrapper">
                                <select class="attr-lv1">
                                    <option value="">{{translate "packUpSelect"}}</option>
                                    {{#each attrData.lv1Attrs}}
                                        {{#if ../attrData.isSingleAttr}}
                                            <option
                                                {{#unless IsBuyable}}
                                                class="disabled" disabled="disabled"
                                                {{/unless}}

                                                value="{{{Variation.[0]}}}"
                                                data-attr-id="{{AttributeId}}"
                                                data-article-number="{{{ArticleNumber}}}"
                                                data-stock-status="{{{StockStatus}}}"
                                                data-std-price="{{stdPrice}}"
                                                data-dsc-price="{{dscPrice}}"
                                                data-out-price="{{outPrice}}"
                                                data-pkg-price="{{pkgPrice}}"

                                                {{#if Images.length}}
                                                data-img-src="{{Images.[0]}}"
                                                {{/if}}


                                            >{{{Variation.[0]}}}</option>

                                        {{else}}
                                            <option value="{{{value}}}">{{{value}}}</option>
                                        {{/if}}

                                    {{/each}}
                                </select>
                            </div>
                        </div>


                        {{#unless attrData.isSingleAttr}}
                            <div class="attributes-lv2">


                                <span class="attr-name">{{attrData.attrLv2Name}}</span>
                                {{#each attrData.lv1Attrs}}
                                    <div class="attr-lv2 attribute-select-wrapper {{#ifCond @index "==" 0}}visible disabled{{/ifCond}}">


                                        <select class="attr-lv2">
                                            <option value="">{{translate "packUpSelect"}}</option>
                                            {{#each lv2Attrs}}

                                                <option
                                                    {{#unless IsBuyable}}
                                                    class="disabled" disabled="disabled"
                                                    {{/unless}}

                                                    value="{{{Variation.[1]}}}"
                                                    data-attr-id="{{AttributeId}}"
                                                    data-article-number="{{{ArticleNumber}}}"
                                                    data-stock-status="{{{StockStatus}}}"
                                                    data-std-price="{{stdPrice}}"
                                                    data-dsc-price="{{dscPrice}}"
                                                    data-out-price="{{outPrice}}"
                                                    data-pkg-price="{{pkgPrice}}"

                                                    {{#if Images.length}}
                                                    data-img-src="{{Images.[0]}}"
                                                    {{/if}}
                                                >{{{Variation.[1]}}}</option>

                                            {{/each}}

                                        </select>
                                    </div>

                                {{/each}}
                            </div>

                        {{/unless}}


                    </div>
                {{/if}}
                {{#unless IsBuyable}}
                    <span class="not-buyable-msg">{{translate "packUpProductNotAvailable"}}</span>
                {{/unless}}
            </div>
        </li>
    {{/each}}
</ul>
