<div class="original-price">
    <span class="label">{{translate "packUpRegularPrice"}}: </span>
    <span class="value dsc-price"></span>
    <span class="value std-price"></span>
</div>
<div class="current-price">
    <span class="label package">{{translate "packUpPackagePrice"}}: </span>
    <span class="label total">{{translate "packUpTotalPrice"}}: </span>
    <span class="value pkg-price"></span>
    <span class="value out-price"></span>
</div>
<div class="savings">
    <span class="label">{{translate "packUpSavings"}}: </span>
    <span class="value currency"></span>
    <span class="value percentage"></span>
</div>
