<div id="product-variants">
    <h3>{{variantHeader}}</h3>
    <ul class="small-block-grid-{{rowQuantities.small}} medium-block-grid-{{rowQuantities.medium}} large-block-grid-{{rowQuantities.large}} xlarge-block-grid-{{rowQuantities.xlarge}}">

    {{#each ProductItems}}
        <li class="product-variant" data-id="{{Id}}">
            <a href="{{ProductUrl}}">
                <img class="lazyimg" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}" alt="{{{Name}}}" style="display: block;">
            </a>
        </li>
    {{/each}}

    </ul>
</div>

